.user {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.image {
 width: 20%;
}

.image img {
   width: 100%
}

.text {
 width: 75%;
 border: 1px solid gray;
 padding: .3rem;
 margin-bottom: 5px;
}

.text h4 {
  text-align: right;
}
